[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
h5py = "*"
torch = "*"
jupyterlab = "*"
jupytext = "*"
torchvision = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
